@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: #262626;
    font-size: 1rem;
}

html {
    font-size: 16px;
    background-color: #fdfdfd;
}

.wrapper {
    margin: 1rem auto;
    min-width: 320px;
    display: grid;
    justify-content: space-between;
    background: aqua;
}

h1 {
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 1.25rem;
}

textarea {
    width: 90%;
    margin-left: 10px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    padding: 0.5rem;
}

input {
    width: 100%;
    margin-top: 0.25rem;
    margin-left: 10px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    padding: 0.5rem;
    border-radius: 2px;
    font-size: 0.9rem;
}

#buttons {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
}

button {
    font-size: 0.95rem;
    padding: 0.25rem 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

button:active {
    box-shadow: none;

}
button:focus {
    background-color: #262626;
    color: white;
}
.prompt {
    background-color: crimson;
    color: #262626;
    margin-left: 10px;
}
.commerce > p{
    border: 3px solid black;
    color: #fdfdfd;

}