body {
    position: relative;
    height: 100%;

    background-color: rgba(30,146,255,0.76);
}

.header {
    color: white;
    font-size: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.wrapper {

    margin: 0 auto;
    text-align: center;
}

.buttons {
    display: flex;
    min-width: 320px;
    margin: 0 auto;
    gap: 10px;
    padding: 10px;
}

.btn {
    width: 80%;
    height: 100px;
    font-size: 40px;
    margin-bottom: 3rem;
}

.wrapper-modal {
    margin: 0 auto;
}

.modal-body {
    text-align: justify;
    height: 100%;
}

li {
    font-size: 20px;
}

.modal-content {
    position: relative;
}

h5 {
    font-size: 40px;
}

.card-text li {
    text-align: justify;
    font-size: 40px;


}

.modal-header {
    font-size: 45px;
}
.prompt {
    padding: 10px;
    height: 90vh;
}
.modal-header {
    display: flex;
}
.card {
    border-radius: 30px;
    height: 90%;
}
.modal-content {
    border-radius: 30px;
    height: 100%;
}
.card-header {

    height: 100%;
}